<%- include('../partials/header', {page_title: "User: " + user.name}); %>
<%- include('../partials/navbar', {posts: allPosts}); %>



<div class="blog-body container">
  <div class="row">
    <div class="col-12">
      <h1 class = "text-center"><%= user.name.replace("-", " ") %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class = "text-center"><img height = "500" src="<%=user.photoURL%>"></div>
    </div>
  </div>
  <br></br>
  <div class="row">
    <div class="col-12">
      <p>Email: <%= user.email %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Quote: <%= user.quote %></p>
    </div>
  </div>




</div>


<%- include('../partials/footer'); %>
