<%- include('../partials/header', {page_title: "Quiz: Score"}); %>
<%- include('../partials/navbar'); %>



<div class="blog-body container">
  <div class="row">
    <div class="col-12">
      <h1 class = "text-center"><%= quiz.title.replace("-", " ") %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class = "text-center"><img height = "500" src="<%=quiz.photoURL%>"></div>
    </div>
  </div>
  <br></br>

  <h3 class = "text-center"> You answered <%=score.numer%> of <%=score.denom%> questions correctly! </h3>
  <br></br>



</div>


<%- include('../partials/footer'); %>
